.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom style */
.con-all {
  max-width: 1140px;
  margin: auto;
}
.flex {
  display: flex;
}
.btn-card {
  font-size: 16px;
  font-weight: 600;
  background-color: #e95a08;
  color: #ffffff;
  padding: 16px 50px 16px 50px;
  width: 100%;
  border: none;
}
/* nav bar */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #8987a1;
}
nav ul li:nth-child(1) a {
  color: #252432;
  font-size: 1rem;
  font-weight: 700;
}
.home-cart {
  align-items: center;
}
.home-cart ul li {
  margin-right: 48px;
}

/* banner */

.banner {
  margin-top: 100px;
  margin-bottom: 80px;
  justify-content: space-between;
}

.left-text-con h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 16px;
  padding-top: 12px;
}
.left-text-con h1 span {
  color: #e95a08;
}
.left-text-con p {
  color: #00000080;
  font-size: 1.4rem;
  font-weight: 400;
  padding-top: 20px;
  margin-bottom: 0px;
  text-align: left;
  display: flex;
  align-items: flex-end;
}
.right-img-con {
  display: flex;
}

/* our-plants-text */
.our-plant-text {
  margin-top: 80px;
  margin-bottom: 49px;
}
.our-plant-text span {
  color: #e95a08;
}
.our-plant-text h2 {
  text-align: center;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 68px;
}
.our-plant-text p {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 27px;
}
/* our-plant-div */
.our-plant-con {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 0px;
  margin-bottom: 210px;
}
.flower-div {
  width: 270px;
  height: 484.94px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.flower-div h5 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 22px;
  padding-bottom: 10px;
}
.flower-div h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 20px;
}

/* Flower & Plants Lover */

.flower-plants-lover {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.flower-plants-lover .lover-text h3 {
  font-size: 3.1rem;
  font-weight: 700;
  padding-bottom: 20px;
}
.lover-img {
  width: 540px;
  height: 597px;
}
.lover-text {
  margin-top: 16px;
  margin-bottom: 16px;
}
.lover-text-2 {
  width: 540px;
  height: 521px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20;
  position: relative;
  z-index: 0;
}
.lover-text-2 ul li {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  font-weight: 400;
}
.lover-text-2 ul li:nth-child(n) {
  padding-top: 20px;
  padding-bottom: 12px;
}
#trusted-badge {
  display: block;
  width: 286px;
  height: 286px;
  padding-bottom: 0px;
  margin-left: -260px;
  margin-top: -214px;
  position: absolute;
  z-index: 1;
}

/* Latest Deals */
.latest-deals {
  margin-top: 80px;
  margin-bottom: 103px;
}
.latest-deals h2 {
  font-size: 3.1rem;
  font-weight: 700;
  text-align: center;
  line-height: 68px;
}
.latest-deals h2 span {
  color: #e95a08;
}
.latest-deals p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 27px;
  color: #00000080;
}

/* Latest Deals picture */
.latest-deals-picture {
  flex-direction: row;
}
.picture-2-1-con {
  position: relative;
  display: inline-block;
}
.picture-2-1-con img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 22px;
}
.pic-2-1-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  flex-direction: column;
  gap: 15px;
  background: rgba(0, 0, 0, 0.4);
}
.pic-2-1-text h6 {
  color: white;
  font-size: 1rem;
  text-shadow: 1px, 1px 3px rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  font-weight: 700;
}
.pic-2-1-text button {
  text-decoration: underline;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  color: white;
  cursor: pointer;
}
.b-2pic {
  max-width: 35%;
}
.picture-2-con {
  max-width: 75%;
}
.picture-2-con img {
  display: inline-block;
  max-width: 100%;
  height: 100%;
  height: max-content;
  border-radius: 22px;
}
